html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
.fullScreen{height: 100%; margin: 0; padding: 0; position: relative;}
#map-canvas { height: 80% }
.foundIt{
	height: 2rem;
	width: 6rem;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: white;
	background: blue;
}